@charset "UTF-8";

/*estilo para telas*/


*{
    margin: 0px;
    padding: 0px;
}


html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

header{
    background-color: lightgoldenrodyellow;
}
header h1{
    text-align: center;
}
ul{
    list-style-type: none;
    background-color:rgba(218, 215, 174, 0.992);
}
li{
    display: inline-block;
    padding: 11px;
}
p{
    text-align: justify;
}